.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background: rgb(255, 255, 255);
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin: 0 0 10px; /* Margin for the heading */
}

.modal-content button {
  padding: 10px 20px;
  background-color: #013d7e9f; /* Button color */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
